#CabeceraLog
{
    margin-top: -1.8% !important;
    margin-bottom: -0.5%;
    width:1262px ;
    height:83px !important;
    background: orange;
    font-size: 25px;
    font-style: oblique;
}

#CabeceraLog samp{
    padding: 0;
    margin: 0;
}

#imagenLogo
{
    position: absolute;
    margin-top:20%;
    margin-bottom:20%;
    margin-left:28%;
}

.contenidoBody
{
    width:100%;
    height:100%;
}

/*Menu de Botones del Lado Izquierdo*/
#columnaizquierda
{
    position: absolute;
    margin-top:1% !important;
    color:white;
    background:#073763 !important;
    margin-right:80% !important;
    margin-left: -0.5%;
    float:right;
    height:100%;
    width:20%;
}

/*ContenuidoCentral*/
#contenidocentral
{
    position:absolute;
    background:#eeeeee;
    margin-top:1% !important;
    margin-left:19.5%;
    height:100%;
    width:60.5%;
    
}
#formlog{
    margin-top: 30%;
    margin-left: 30%;
    height: 150px;
    width: 350px;
}

/*centrar el Login*/
.ui-panelgrid-cell {
    border-color: #eeeeee !important;
    background: #eeeeee !important;
}

/*Notoficaciones*/
.columnaderecha
{
    position:absolute;
    color:white;
    background:#073763;
    margin-left:80%;
    height:100%;
    margin-top:1% !important;
    width:20%;
}
