#CabeceraSol
{
    position: fixed;
    z-index: 2;
    margin-top: -0.6% !important;
    margin-bottom: 0%;
    width:1262px ;
    height:40px !important;
    background: orange;
    font-style: oblique;
}

#CabeceraSol samp{
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.ui-tabmenu-nav{
    height: 100% !important;
    background: orange !important;
    border-color: orange !important;
}

.contenidoBody
{
    width:100%;
    height:100%;
}


#columnaizquierda
{
    position: fixed;
    margin-top: 3.2% !important;
    color:white;
    background:#073763 !important;
    margin-right:80% !important;
    margin-left: -0.5%;
    float:right;
    height:100%;
    width:20%;
    font-size: 25px;
    font-style: oblique;
}

/*ContenuidoCentral*/
#contenidocentral
{
    position:absolute;
    background:#eeeeee;
    margin-top:2.5% !important;
    margin-left:19.5%;
    height:auto;
    width:60.5%;
    
}


/*Notoficaciones*/
.columnaderecha
{
    position: fixed;
    color:white;
    background:#073763;
    margin-left:80%;
    height:100%;
    margin-top:3.2% !important;
    width:20%;
}
