<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head/>

    <title>Investigacion</title>
    <h:outputStylesheet library="css"  name="investigacion.css"/>
    
    <body>
        <p:panelGrid style="margin-top:20px">
            <f:facet name="header">
                <p:row>
                    <p:column colspan="7">1995-96 NBA Playoffs</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">Conf. Semifinals</p:column>
                    <p:column colspan="2">Conf. Finals</p:column>
                    <p:column colspan="2">NBA Finals</p:column>
                    <p:column>Champion</p:column>
                </p:row>

            </f:facet>

            <p:row>
                <p:column style="font-weight: bold;">Seattle</p:column>
                <p:column style="font-weight: bold;">4</p:column>

                <p:column rowspan="2" style="font-weight: bold;">Seattle</p:column>
                <p:column rowspan="2" style="font-weight: bold;">4</p:column>

                <p:column rowspan="5">Seattle</p:column>
                <p:column rowspan="5">2</p:column>

                <p:column rowspan="11" style="font-weight: bold;">Chicago</p:column>
            </p:row>

            <p:row>
                <p:column>Houston</p:column>
                <p:column >0</p:column>
            </p:row>

            <p:row>
                <p:column colspan="4" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column style="font-weight: bold;">Utah</p:column>
                <p:column style="font-weight: bold;">4</p:column>

                <p:column rowspan="2">Utah</p:column>
                <p:column rowspan="2">3</p:column>
            </p:row>

            <p:row>
                <p:column>San Antonio</p:column>
                <p:column >2</p:column>
            </p:row>

            <p:row>
                <p:column colspan="6" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column style="font-weight: bold;">Chicago</p:column>
                <p:column style="font-weight: bold;">4</p:column>

                <p:column rowspan="2" style="font-weight: bold;">Chicago</p:column>
                <p:column rowspan="2" style="font-weight: bold;">4</p:column>

                <p:column rowspan="5" style="font-weight: bold;">Chicago</p:column>
                <p:column rowspan="5" style="font-weight: bold;">4</p:column>
            </p:row>

            <p:row>
                <p:column>New York</p:column>
                <p:column >1</p:column>
            </p:row>

            <p:row>
                <p:column colspan="4" styleClass="ui-widget-header">
                    <p:spacer height="0"/>
                </p:column>
            </p:row>

            <p:row>
                <p:column>Atlanta</p:column>
                <p:column >1</p:column>

                <p:column rowspan="2">Orlando</p:column>
                <p:column rowspan="2">0</p:column>
            </p:row>

            <p:row>
                <p:column style="font-weight: bold;">Orlando</p:column>
                <p:column style="font-weight: bold;">4</p:column>
            </p:row>


            <f:facet name="footer">
                <p:row>
                    <p:column  colspan="4" style="text-align: right">
                        Finals MVP
                    </p:column>
                    <p:column  colspan="3" rowspan="3">
                        Michael Jordan (Chicago)
                    </p:column>
                </p:row>

                <p:row>
                    <p:column  colspan="4" style="text-align: right">
                        Season MVP
                    </p:column>
                </p:row>
                <p:row>
                    <p:column  colspan="4" style="text-align: right">
                        Top Scorer
                    </p:column>
                </p:row>
            </f:facet>
        </p:panelGrid>
    </body>
</html>
