<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head/>

    <title>Inicio</title>
    <h:outputStylesheet library="css"  name="Inicio.css"/>

    <body onload="#{IdeaR.listar()} #{IdeaR.lipiaPagIdeas()}">
        <div class="contenidoBody"> 

            <div id="CabeceraIni">
                <h:form>
                    <p:tabMenu activeIndex="0">
                        <p:menuitem class="colormenu" value="Inicio"  action="inicio" />
                        <p:menuitem class="colormenu" value="Idea" action="ideas"/>
                        <p:menuitem class="colormenu" value="Investigacion" action="investigacion"/>
                        <p:menuitem class="colormenu" value="Prototipo" action="prototipo"/>
                        <p:menuitem class="colormenu" value="Proyecto" action="proyecto"/>
                        <p:menuitem class="colormenu" value="Comercializacion" action="comercializacion"/>
                        <p:menuitem class="colormenu" value="Cerrar sesion"/>
                    </p:tabMenu>
                </h:form>
            </div>

            <section id="columnaizquierda">
                <h:form>
                    <h:panelGroup id="imagenperfil">
                        <center><h:outputLabel value="Bienvenido al Portal: #{loginx.nombre}" /></center>
                        <center><p:graphicImage library="images" name="userdefaul.png"  title="Usuario1" width="100" height="auto"/></center>
                        <h:form>
                            <center><p:commandLink value="Editar Perfil" onclick="" style="margin-left:10%; font-size:12px; color:white;"/></center> 
                        </h:form>
                    </h:panelGroup>
                </h:form> 
            </section>

            <section id="contenidocentral">
                <p:growl id="mensaje2"/>
                <h:panelGroup id="publicaciones">

                    <p:dataList value="#{IdeaR.listarIdeas}" var="datos" id="tabdatos2" type="definition" emptyMessage="No hay Datos">
                        <p:panel header="#{datos.titulo}" style="margin-top:4%;" closable="4">

                            <p:panelGrid style="width:auto;">
                                <p:outputLabel value="Descripcion:" style="font-size:150%;"/>                                
                                <section class="seccion">
                                    <p:lightBox class="imagenBox">
                                        <h:outputLink value="../imagenes/#{datos.imagen}" title="Imagen: #{datos.imagen}">
                                            <h:graphicImage  value="/imagenes/#{datos.imagen}" style=" #{IdeaR.visibleInvisible(datos.imagen)}"/>
                                        </h:outputLink>
                                    </p:lightBox>
                                    <p><p:outputLabel  value="#{datos.descripcion}"/></p>
                                </section>
                            </p:panelGrid>

                            <h:form id="btnf1">
                                <p:panelGrid layout="grid" columns="4">
                                    <p:commandButton id="MeGusta" value="Me Gusta"/>
                                    <p:commandButton id="Favorito" value="Agrgar a Favoritos"/>
                                    <p:commandButton id="Comentar"  value="Comentarios (#{Comentarios.totalComentarios(datos.id)})" actionListener="#{IdeaR.leerIdIdeasBean(datos)}" 
                                                     oncomplete="#{ComentariosBean.listarComentariosBean(datos.id)}" styleClass="#{datos.id}" style="#{IdeaR.muestra}"  
                                                     action="#{IdeaR.generavalor()}" update="@(.#{datos.id})"/>
                                    <p:commandButton id="modifica" value="Modificar" actionListener="#{IdeaR.leerIdIdeasBean(datos)}" 
                                                     oncomplete="PF('wdialogDatos').show();"/>
                                </p:panelGrid>
                            </h:form>

                            <p:outputLabel value="Fecha de Creación: #{datos.creacion}" style="font-size:15px; margin-right:auto;"/> <br/>
                            <p:outputLabel value="Ultima Actualización: #{datos.actualizacion}" style="font-size:15px; margin-right:auto;"/><br/>

                            <h:form id="btnsform2">
                                <p:panelGrid id="comentt">
                                    <p:inputTextarea value="#{Comentarios.comentario.descripcion}" styleClass="#{datos.id}" style="width:50%;" placeholder="Comentar!!" rows="2"/>
                                    <p:commandButton  value="Comentar" action="#{IdeaR.quitavalor()}" actionListener="#{Comentarios.registrarComentariosBean(datos.id,loginx.u.idUser)}" 
                                                      oncomplete="#{Comentarios.limpiaComentarios()}" update="@(.#{datos.id})"/><br/>
                                    <p:commandLink styleClass="#{datos.id}"  value="Mostrar Comentarios: " rendered="#{IdeaR.botonMostrar}" 
                                                   actionListener="#{IdeaR.accionBoton()}" update="btnsform2,@(.#{datos.id})"/>
                                    <p:commandLink styleClass="#{datos.id}"  id="OcultarComent" value="Ocultar Comentarios" rendered="#{IdeaR.botonOculatr}" 
                                                   actionListener="#{IdeaR.accionBoton()}" update="btnsform2,@(.#{datos.id})"/>
                                    <span class="badge" onload="#{ComentariosBean.listarComentariosBean(datos.id)}"><h:panelGroup styleClass="#{datos.id}">#{Comentarios.totalComentarios(datos.id)}</h:panelGroup></span>
                                </p:panelGrid>
                            </h:form ><br/>

                            <h:form id="btnform3"  styleClass="#{datos.id}">
                                <p:dataList rendered="#{IdeaR.comentariosMostrar}" id="lsi"  value="#{Comentarios.listarComentarios}" var="comentDato" 
                                            type="definition" emptyMessage="No hay Comentarios!!" styleClass="#{datos.id}">
                                    <p:panel>
                                        <p:panelGrid>
                                            <p:outputLabel value="Id de Usuario: #{comentDato.idUser}" style="font-size:16px;"/>
                                            <div id="seccionactcrea">
                                                <p:outputLabel value="#{comentDato.creacion}" style="font-size:9px;"/><br/>
                                                <p:outputLabel value="#{comentDato.actualizacion}" style="font-size:9px;"/>
                                            </div>
                                            <section class="seccion">
                                                <p><p:outputLabel value="#{comentDato.descripcion}"/></p>
                                            </section>
                                            <p:inputTextarea value="#{Comentarios.comentario.descripcion}"  style="width:50%" placeholder="Responder!!" rows="1"/>
                                            <p:commandButton value="Responder" action="#{IdeaR.quitavalor()}" update="@(.#{datos.id})"/>
                                        </p:panelGrid>
                                    </p:panel>
                                    <div class="separador"></div>
                                </p:dataList>
                            </h:form>

                        </p:panel>
                    </p:dataList>
                </h:panelGroup>
            </section>

            <div class="columnaderecha">
            </div>

        </div>
    </body>
</html>
