<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head/>

    <title>Investigacion</title>
    <h:outputStylesheet library="css"  name="investigacion.css"/>

    <body>
        <div class="contenidoBody">

            <div id="CabeceraInv">
                <h:form>
                    <p:tabMenu activeIndex="2">
                        <p:menuitem class="colormenu" value="Inicio"  action="inicio" />
                        <p:menuitem class="colormenu" value="Idea" action="ideas"/>
                        <p:menuitem class="colormenu" value="Investigacion" action="investigacion"/>
                        <p:menuitem class="colormenu" value="Prototipo" action="prototipo"/>
                        <p:menuitem class="colormenu" value="Proyecto" action="proyecto"/>
                        <p:menuitem class="colormenu" value="Comercializacion" action="comercializacion"/>
                        <p:menuitem class="colormenu" value="Cerrar sesion"/>
                    </p:tabMenu>
                </h:form>
            </div>

            <section id="columnaizquierda">
                <h:form>
                    <h:panelGroup id="imagenperfil">
                        <center><h:outputLabel value="#{loginx.nombre}" /></center>
                        <center><p:graphicImage library="images" name="userdefaul.png" 
                                                title="Usuario1" width="100" height="auto"/></center>
                        <h:form>
                            <center><p:commandLink value="Editar Perfil" onclick="" 
                                                   style="margin-left:10%; font-size:12px; color:white;"/></center> 
                        </h:form>
                    </h:panelGroup>
                </h:form>
            </section>

            <section id="contenidocentral">
                <h:form>
                    <center><h1>Formatos</h1></center>
                </h:form>

                <h:form>
                    <center><p:commandLink action="solicitudDeApoyo.xhtml">
                            <p:graphicImage library="icons" name="formulario.png" height="auto" width="80"/><br/>
                            Solicitud De Apoyo
                        </p:commandLink></center>
                </h:form>

                <h:form>
                    <center><p:commandLink action="ejemploTabla.xhtml">
                            <p:graphicImage library="icons" name="formulario.png" height="auto" width="80"/><br/>
                            Glosario de Ficha Tecnica del Solicitante
                        </p:commandLink></center>
                </h:form>

                <h:form>
                    <center><p:commandLink action="ModificacionesDeProyectosAprobados.xhtml">
                            <p:graphicImage library="icons" name="formulario.png" height="auto" width="80"/><br/>
                            Solicitud de Modificaciones a los Proyectos probados
                        </p:commandLink></center>
                </h:form>
                
                <h:form>
                    <center><p:commandLink action="ReporteDeAutoevaluacionDelOrganismoPromotor.xhtml">
                            <p:graphicImage library="icons" name="formulario.png" height="auto" width="80"/><br/>
                            Reporte de Autoevaluacion del Organismo Promotor
                        </p:commandLink></center>
                </h:form>
                
                <h:form>
                    <center><p:commandLink action="ReporteDeAutoevaluacionDelOrganismoPromotor.xhtml">
                            <p:graphicImage library="icons" name="formulario.png" height="auto" width="80"/><br/>
                            Reporte de Avance o Final
                        </p:commandLink></center>
                </h:form>
                
                <h:form>
                    <center><p:commandLink action="ReporteDeAutoevaluacionDelOrganismoPromotor.xhtml">
                            <p:graphicImage library="icons" name="formulario.png" height="auto" width="80"/><br/>
                            Proyeto de Inversion
                        </p:commandLink></center>
                </h:form>

            </section>
            <div class="columnaderecha">
            </div>
        </div>
    </body>
</html>
