<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head/>

    <title>Reporte de autoevaluacion del organismo promotor</title>
    <h:outputStylesheet library="css"  name="formatos.css"/>
    <body>
        <div class="contenidoBody">
            <div id="CabeceraMod">
                <h:form>
                    <p:tabMenu activeIndex="2">
                        <p:menuitem class="colormenu" value="Inicio"  action="inicio" />
                        <p:menuitem class="colormenu" value="Idea" action="ideas"/>
                        <p:menuitem class="colormenu" value="Investigacion" action="investigacion"/>
                        <p:menuitem class="colormenu" value="Prototipo" action="prototipo"/>
                        <p:menuitem class="colormenu" value="Proyecto" action="proyecto"/>
                        <p:menuitem class="colormenu" value="Comercializacion" action="comercializacion"/>
                        <p:menuitem class="colormenu" value="Cerrar sesion"/>
                    </p:tabMenu>
                </h:form>
            </div>
            
             <section id="columnaizquierda">
                <h:form>
                    <h:panelGroup id="imagenperfil">
                        <center><h:outputLabel value="#{loginx.nombre}" /></center>
                        <center><p:graphicImage library="images" name="userdefaul.png" 
                                                title="Usuario1" width="100" height="auto"/></center>
                        <h:form>
                            <center><p:commandLink value="Editar Perfil" onclick="" 
                                                   style="margin-left:10%; font-size:12px; 
                                                   color:white;"/></center> 
                        </h:form>
                    </h:panelGroup>
                </h:form>
            </section>
            
            <section id="contenidocentral">
                <h:form>
                    
                </h:form>
            </section>
            
            <div class="columnaderecha">
            </div>
        </div>
    </body>
</html>
