<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <h:head/>

    <title>Investigacion</title>
    <h:outputStylesheet library="css"  name="solicitudDeApoyo.css"/>

    <body>
        <div class="contenidoBody">

            <div id="CabeceraSol">
                <h:form>
                    <p:tabMenu activeIndex="2">
                        <p:menuitem class="colormenu" value="Inicio"  action="inicio" />
                        <p:menuitem class="colormenu" value="Idea" action="ideas"/>
                        <p:menuitem class="colormenu" value="Investigacion" action="investigacion"/>
                        <p:menuitem class="colormenu" value="Prototipo" action="prototipo"/>
                        <p:menuitem class="colormenu" value="Proyecto" action="proyecto"/>
                        <p:menuitem class="colormenu" value="Comercializacion" action="comercializacion"/>
                        <p:menuitem class="colormenu" value="Cerrar sesion"/>
                    </p:tabMenu>
                </h:form>
            </div>

            <section id="columnaizquierda">
                <h:form>
                    <h:panelGroup id="imagenperfil">
                        <center><h:outputLabel value="#{loginx.nombre}" /></center>
                        <center><p:graphicImage library="images" name="userdefaul.png" 
                                                title="Usuario1" width="100" height="auto"/></center>
                        <h:form>
                            <center><p:commandLink value="Editar Perfil" onclick="" 
                                                   style="margin-left:10%; font-size:12px; 
                                                   color:white;"/></center> 
                        </h:form>
                    </h:panelGroup>
                </h:form>
            </section>

            <section id="contenidocentral">
                <h:form>
                    <h:form>
                        <center><h1>Solicitud de Apoyo</h1></center>
                        <center><h2>Solicitud de Apoyo del Programa para el Desarrollo de 
                                la Industria del Software y la Innovación</h2></center>
                        <h3 style="margin-left: 30%">USO EXCLUSIVO DE LA SECRETARIA DE ECONOMIA</h3>
                    </h:form>
                    <br/>
                    <!--**************************************************************************-->
                    <h:form>
                        <p:panelGrid columns="2">
                            <p:column>
                                <p:panelGrid columns="1" style="margin-left: 2%">

                                    <f:facet name="header">
                                        <p:row>
                                            <p:column colspan="1">Homoclave del Tramite</p:column>
                                        </p:row>
                                    </f:facet>

                                    <p:row>
                                        <p:column style="font-weight: bold;">
                                            <center>SE-06-017</center>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="1" styleClass="ui-widget-header">
                                            <center>Fecha de publicación del<br/> 
                                                formato en el DOF:</center>
                                        </p:column>
                                    </p:row>

                                    <p:column style="font-weight: bold;" >
                                        <center><h:inputText>

                                            </h:inputText></center>
                                    </p:column>
                                </p:panelGrid>
                            </p:column>

                            <p:column>
                                <p:panelGrid columns="1" style="margin-left: 45%" >

                                    <f:facet name="header">
                                        <p:row>
                                            <p:column colspan="1">Folio:</p:column>
                                        </p:row>
                                    </f:facet>

                                    <p:row>
                                        <p:column style="font-weight: bold;" >
                                            <center><h:inputText>

                                                </h:inputText></center>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="1" styleClass="ui-widget-header">
                                            <center>Fecha de recepción en la SE:<br/></center>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column style="font-weight: bold;" >
                                            <center><h:inputText>

                                                </h:inputText></center>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <p:column colspan="3" styleClass="ui-widget-header">
                                            <center>Acuerdo Consejo Directivo<br/></center>
                                        </p:column>
                                    </p:row>

                                    <p:row>
                                        <center><p:column style="font-weight: bold;" >
                                                <h:inputText style="width: 27%">

                                                </h:inputText></p:column>
                                            <p:column style="font-weight: bold;">
                                                <h:inputText style="width: 27%">

                                                </h:inputText></p:column>
                                            <p:column style="font-weight: bold;">
                                                <h:inputText style="width: 27%">

                                                </h:inputText></p:column></center>
                                    </p:row>
                                </p:panelGrid>
                            </p:column>
                        </p:panelGrid>
                    </h:form>
                    <br/>
                    <!--*****************************************************-->
                    <h:form>
                        <p:panelGrid style="font-size: 15px">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="5">I-   Datos Generales del Solicitante</p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="5">Tipo de solicitante</p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="5">Empresas (personas morales)</p:column>
                                </p:row>
                            </f:facet>

                            <p:row>
                                <p:column>Empresa TI</p:column>
                                <p:column colspan="4">
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Clasifiion: Elija un elemento"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>Usuario d TI</p:column>
                                <p:column colspan="4">
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="¿A que sector pertenece?"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>Empresas de otros setores trategicos</p:column>
                                <p:column colspan="4">
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="¿A que sctor pertenece?"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column rowspan="2" colspan="1">
                                    Habilitador de TI y <br/>
                                    de la innovacion
                                </p:column>
                                <p:column  colspan="2" style="text-align: left">
                                    Orgnismo publico
                                </p:column>
                                <p:column  colspan="2" style="text-align: left">
                                    Institucion academica
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column>
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Organizmo Privado"/>
                                    </p:selectOneRadio>
                                </p:column>
                                <p:column>
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Agrupmiento empresarial"/>
                                    </p:selectOneRadio>
                                </p:column>

                                <p:column>
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Publica"/>
                                    </p:selectOneRadio>
                                </p:column>
                                <p:column>
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Privada"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>

                        </p:panelGrid>
                    </h:form>
                    <!--*****************************************************-->
                    <h:form>
                        <p:panelGrid style="font-size: 15px">
                            <f:facet name="header">
                                <p:column colspan="4">
                                    <center>Informaion del solicitante</center>
                                </p:column>
                            </f:facet>
                            <p:row>
                                <p:column colspan="4">1.  Razon social:
                                    <h:inputText style="width: 83%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    2.   Nombre del repreentante <br/>
                                    legal o apoderdo
                                </p:column>
                                <p:column>
                                    nombre(s):<br/>
                                    <h:inputText style="width: 90%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    Apellido paterno:<br/>
                                    <h:inputText style="width: 90%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    pellido mterno:<br/>
                                    <h:inputText style="width: 90%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">3.  RFC:
                                    <h:inputText style="width: 91%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">4.  N° de registro del sistema:
                                    <h:inputText style="width: 73%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">5.  Telefono (lada y num):
                                    <h:inputText style="width: 77%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">6.  Extencion:
                                    <h:inputText style="width: 87%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">7.  Telefono movil:
                                    <h:inputText style="width: 83%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">8.  Correo electronico:
                                    <h:inputText style="width: 79%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">9.  Organismo promotor:
                                    <h:inputText style="width: 77%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">10. Nombre el proyecto:
                                    <h:inputText style="width: 77%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">11. Tamaño d emprea:
                                    <h:inputText style="width: 78%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">12.  Actividad principal:
                                    <h:inputText style="width: 78%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                    <br/>
                    <!--*****************************************************-->
                    <h:form>
                        <p:panelGrid style="font-size: 15px">
                            <f:facet name="header">
                                    <p:column colspan="2">
                                        <center>II-   Domicilio fiscal del solicitante</center>
                                    </p:column>
                            </f:facet>
                            
                            <p:row>
                                <p:column colspan="2">
                                    13.  Tipo de vialidad:
                                    <h:inputText style="width: 75%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    14.  Nombre de la vialidad:
                                    <h:inputText style="width: 70%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    En Caso de ser crretera llenar la iguiente informacion
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    15.  Tipo de Adminitraacion:
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Federal"/>
                                        <f:selectItem itemLabel="Estatal"/>
                                        <f:selectItem itemLabel="Municipl"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    16.  Derecho de tranito:
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Libre"/>
                                        <f:selectItem itemLabel="Cuota"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    17.  Coigo de la carretera:
                                    <h:inputText style="width: 70%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    18.  Tramo de la carretera:
                                    <h:inputText style="width: 70%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    19.  Cadenamiento:
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    20.  Numero exterior:
                                    <h:inputText style="width: 75%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    21.  Numero interior:
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    22.  Codigo postal:
                                    <h:inputText style="width: 75%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    23.  Loclidad o ciudad:
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    24.  Nombre de la colonia o acentamiento humano:
                                    <h:inputText style="width: 75%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    25.  Nombre del municipio o delegacion:
                                    <h:inputText style="width: 75%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    26.  Nombre del Etado o Distrito Federal:
                                    <h:inputText style="width: 75%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    En caso de ser caminero llenr la iguiente informacion
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    27.  Termino generico:
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Brecha"/>
                                        <f:selectItem itemLabel="Camino"/>
                                        <f:selectItem itemLabel="Terraceria"/>
                                        <f:selectItem itemLabel="Vereda"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    28.  Tramo del camino:
                                    <h:inputText style="width: 75%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    29.  Margen:
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Derecho"/>
                                        <f:selectItem itemLabel="Izquierad"/>
                                        <f:selectItem itemLabel="Derecha"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    30.  Cadenamiento:
                                    <h:inputText style="width: 75%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                    <br/>

                    <!--*****************************************************-->
                    <h:form>
                        <p:panelGrid style="font-size: 15px">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="2">
                                        <center>III-   Domicilio donde se realizara 
                                            el proyecto</center>
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column colspan="2">
                                    31.  Tipo de vialidad:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    32.  Numero exterior:
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    33.  Numero interior:
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    34.  Codigo postal:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    35.  Nombre de la vialidad:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    36.  Localidad o ciudad:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    37.  Nombre de la colonia o asentamiento humano:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    En caso de ser carretera llenar la siguiente informcion:
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    38.  Tipo de Adminitraacion:
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Federal"/>
                                        <f:selectItem itemLabel="Estatal"/>
                                        <f:selectItem itemLabel="Municipl"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    39.  Nombre del municipio o delegacion:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    40.  Derecho de tranito:
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Libre"/>
                                        <f:selectItem itemLabel="Cuota"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    41.  Nombre del Estado o Distrito Federal:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    42.  Codigo de la carretera:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    43.  Tramo de la carretera:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    44.  Cadenmiento:
                                    <h:inputText style="width: 50%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    En caso d ser camino llenar la iguiente informcion:
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    45.  Termino generico:
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Brecha"/>
                                        <f:selectItem itemLabel="Camino"/>
                                        <f:selectItem itemLabel="Terraceria"/>
                                        <f:selectItem itemLabel="Vereda"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    46.  Tramo del camino:
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    47.  Margen:
                                    <p:selectOneRadio>
                                        <f:selectItem itemLabel="Derecho"/>
                                        <f:selectItem itemLabel="Izquierad"/>
                                        <f:selectItem itemLabel="Derecha"/>
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    48.  Cadenamiento:
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                    <!--*********************************************************-->
                    <h:form>
                        <h2><center>De conformidad con los articulo 4 y 69-M, fraccion V de la ley federal de
                                Procedimiento Administrativo, los formatos para solicitar tramites y servicios
                                deberan publicarse en el Diario Oficial de la Federacion(DOF).</center></h2>
                        <p:panelGrid style="font-size: 15px">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="4">Informacion del Tramite</p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="4">IV-   Resumen Ejecutivo  
                                        del proyeto. Describa brevemente el proyecto</p:column>
                                </p:row>
                            </f:facet>

                            <p:row>
                                <p:column>
                                    49.  Objetivo general
                                </p:column>
                                <p:column colspan="3">
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    50.  total de etapas
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    51.  Etapa que se somete
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    52.  Objetivo del proyecto que se somete
                                </p:column>
                                <p:column colspan="3">
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    53.  Beneficios esperados del proyecto
                                </p:column>
                                <p:column colspan="3">
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    54.  Duraion del proyecto(semanas)
                                </p:column>
                                <p:column colspan="3">
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                    <br/>
                    <!--*********************************************************-->

                    <h:form>
                        <p:panelGrid style="font-size: 15px">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="6"> V-   Impaccto esperado del proyecto. Aquel que
                                        se pretende alcanzar una vez ejeutado en su totlidad el proyecto
                                        presentado. Proporcione informacion sobre lo siguientes apartados
                                        (los que apliquen)</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column colspan="10">a)Empresas atendidas por el proyecto</p:column>
                            </p:row>
                            <p:row>
                                <p:column></p:column>
                                <p:column>Micro</p:column>
                                <p:column>Pequeña</p:column>
                                <p:column>Mediana</p:column>
                                <p:column>Grande</p:column>
                                <p:column>Total</p:column>
                            </p:row>
                            <p:row>
                                <p:column>55.  Existentes(al inicio del proyecto)</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>56.  Poteniles(que se crearan como 
                                    resultado del proyecto)</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>57.  Total</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>

                        <p:panelGrid style="font-size: 15px">
                            <p:row>
                                <p:column colspan="10">b) Capital humano</p:column>
                            </p:row>
                            <p:row>
                                <p:column></p:column>
                                <p:column colspan="4">Mujeres</p:column>
                                <p:column colspan="4">Hombres</p:column>
                                <p:column>Total</p:column>
                            </p:row>
                            <p:row>
                                <p:column>58.  Segmentacion</p:column>
                                <p:column>E</p:column>
                                <p:column>T</p:column>
                                <p:column>P</p:column>
                                <p:column>PG</p:column>}

                                <p:column>E</p:column>
                                <p:column>T</p:column>
                                <p:column>P</p:column>
                                <p:column>PG</p:column>

                                <p:column></p:column>
                            </p:row>
                            <p:row>
                                <p:column>59.  Empleo actual de la Empresa</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>60.  Empleo Mejordo como resultdo del proyecto</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="10">Nota: E=Estudintes; T=Tecnicos; 
                                    P=Profecionistas; PG=Posgrdos</p:column>
                            </p:row>
                            <p:row>
                                <p:column>61.  Facturaion a generar</p:column>
                                <p:column colspan="9">
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>

                        <p:panelGrid style="font-size: 15px">
                            <p:row>
                                <p:column colspan="7">c) Indicadores relevantes</p:column>
                            </p:row>
                            <p:row>
                                <p:column></p:column>
                                <p:column>Tecnicos</p:column>
                                <p:column>Negocios</p:column>
                                <p:column>Calidad</p:column>
                                <p:column>Idioma</p:column>
                                <p:column colspan="2">Total</p:column>
                            </p:row>
                            <p:row>
                                <p:column>62.  Cursos</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column colspan="2">
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>63.  Certificaciones</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column colspan="2">
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>64.  Madures orgnizacional</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    Implementcion(es)
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    Certificacion(es)
                                </p:column>
                                <p:column colspan="2">
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>65.  Innovacion</p:column>
                                <p:column>
                                    Patentes a registrar
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    Marcas o derecho de autor a proteger
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    Centros de I+D+i
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                    <br/>
                    <!--*********************************************************-->

                    <h:form>
                        <p:panelGrid style="font-size: 15px">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="4">VI-   Rubros de apoyo</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column>66.  No.</p:column>
                                <p:column>67.  Rubro</p:column>
                                <p:column>68.  Concepto aplicable</p:column>
                                <p:column>69.  Entregable</p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                    <br/>
                    <!--*****************************************************-->

                    <h:form>
                        <p:panelGrid style="font-size: 15px">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="10" >VII-   Fuentes de aplicacion de recursos(Los montos se 
                                        expresan en peso)</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column rowspan="2">Rubro</p:column>
                                <p:column rowspan="2">Concepto</p:column>
                                <p:column rowspan="2">Entidad Federativa o Municipio</p:column>
                                <p:column rowspan="2">Sector accademico</p:column>
                                <p:column rowspan="2">Sector privado</p:column>
                                <p:column style=" text-align: left" colspan="3">Otras aportacione(en especie)</p:column>
                                <p:column rowspan="2">Total</p:column>
                            </p:row>
                            <p:row>
                                <p:column>Aportante</p:column>
                                <p:column>Monto</p:column>
                                <p:column>Tipo de aportacion</p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>70.  Subtotal por Rubro</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>71.  Total</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>72.  Porcentaje de inversion</p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                                <p:column>
                                    <h:inputText style="width: 45%">

                                    </h:inputText>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                    <br/>
                    <!--*****************************************************-->
                    <h:form>
                        <center><p:panel>
                                <p:commandButton value="Guardar" icon="ui-icon-check" style="margin:0"/>
                            </p:panel></center>
                    </h:form>
                    <br/>
                    <!--*****************************************************-->
                    <h:form>
                        <center><p:panel header="Exportar al formato:">
                                <h:commandLink>
                                    <p:graphicImage library="icons" name="Excel.png" height="auto" width="80"/>
                                    <p:dataExporter type="xls" target="mydata" fileName="myexcel"/>
                                </h:commandLink>

                                <h:commandLink>
                                    <p:graphicImage library="icons" name="PDF.png" height="auto" width="80"/>
                                    <p:dataExporter type="pdf" target="mydata" fileName="mypdf"/>
                                </h:commandLink>
                                
                                <h:commandLink>
                                    <p:graphicImage library="icons" name="word.png" height="auto" width="80"/>
                                    <p:dataExporter type="doc" target="mydata" fileName="myword"/>
                                </h:commandLink>

                            </p:panel></center>
                    </h:form>
                </h:form>
            </section>
            <!--*************************************************************-->

            <div class="columnaderecha">
            </div>
        </div>
    </body>
</html>
